<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bio_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RealidadeAumentada_Cardiovascular"></activity>
        <activity android:name=".FlashCardExcretor" />
        <activity android:name=".FlashCardCardiovascular" />
        <activity android:name=".FlashCardMuscular" />
        <activity android:name=".FlashCardEsqueletico" />
        <activity android:name=".FlashCardRespiratorio" />
        <activity android:name=".FlashCardDigestorio" />
        <activity android:name=".ResumoSistemaExcretor" />
        <activity android:name=".ResumoSistemaCardiovascular" />
        <activity android:name=".ResumoSistemaMuscular" />
        <activity android:name=".ResumoSistemaEsqueletico" />
        <activity android:name=".ResumoSistemaRespiratorio" />
        <activity android:name=".ResumoSistemaDigestorio" />
        <activity
            android:name=".EsqueceuSenha"
            android:theme="@style/ThemeLogin" />
        <activity
            android:name=".CadastroAluno"
            android:theme="@style/ThemeLogin" />
        <activity android:name=".Funcionalidades" />
        <activity
            android:name=".Login"
            android:theme="@style/ThemeLogin" />
        <activity
            android:name=".UsuarioAluno"
            android:theme="@style/ThemeLogin" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/ThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>